/public/electricidad-industrial.mp4
/public/sistemas-electromecanicos.mp4
/public/diagnostico-y-seguridad.mp4
/public/el-detective-industrial.mp4
/site-version.tar.gz
/.npm-cache/
/.vinext/
/.netlify/
/.wrangler/
/dist/
/node_modules/
/outputs/
/work/
tsconfig.tsbuildinfo
